.content
  %p
    %b What?
    A party.
    %br/
    %b When?
    Thursday 1st of January 1970 at
    %a{href:"https://time.is/0000_1_Jan_1970_in_Galapagos",target:"_blank"} 00h00 GALT
    %br/
    %b Where?
    Galapagos Island

  %p
    We would love it if you to could make it to our little celebration.

  <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=-94.93286132812501%2C-2.317483068758292%2C-87.68188476562501%2C2.591888984149953&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?#map=8/0.137/-91.307&amp;layers=D">View Larger Map</a></small>

  %p
    If you need help remembering, you can
    %a{href: "/event.ics", download: "event.ics"} add the event to your calendar
